root/ca.srl
root/ca.key
root/ca.crt
root/data
leaf/leaf.crt
leaf/leaf.csr
leaf/leaf.key
leaf-revoked/leaf.crt
leaf-revoked/leaf.csr
leaf-revoked/leaf.key
crl/crl.pem
crl/index.txt*
crl/number
crl/number.old
crl/bundle.pem
ocsp-signer/ocsp.key
ocsp-signer/ocsp.csr
ocsp-signer/ocsp.crt
ocsp-signer/log.txt
